body{
    /* margin: 0; */
    /* padding: 0; */
}
.grid-container{
    display: grid;
    grid-template-columns: 100px 200px;
    grid-auto-rows: minmax(150px, auto); /*沒設定高度的會給100px高*/
    gap:  20px;
    justify-content: space-evenly;
    align-content: stretch;
    height: 100vh;
}
.grid-item{
    background-color: #faf;
    border: 2px solid lightskyblue;
    /* height: 100px; */
}
.grid-item1{
   align-self: baseline;
}
.grid-item2{
   justify-self: center;
}
.grid-item3{
   
}
.grid-item4{
    
}
.grid-item5{


}